doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Witch
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="./stylesheets/styles.css")
    style.
      .scrollable-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        margin-bottom: 20px;
      }
      ::-webkit-scrollbar {
        width: 1px;
        height:1px
      }

      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
 
      ::-webkit-scrollbar-thumb {
        background: blue; 
      }

      ::-webkit-scrollbar-thumb:hover {
        background: white; 
      }
      .card {
        display: inline-block;
        margin-right: 10px;
        width: 250px;
        overflow: hidden;
      }
      .card-img-top {
        max-width: 100%;
        height: auto;
      }
      
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href="#") Witch #{message}
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/movies") Movies
            li.nav-item
              a.nav-link(href="/webseries") Web Series 
    br
    br
    br
    .container
      h3 Telugu Movie
      .scrollable-container
        .card
          img.card-img-top.imgcenter(src="https://img10.hotstar.com/image/upload/f_auto/sources/r1/cms/prod/2141/1572141-i-f631d7a36bb6", alt="Card image")
          .card-body
            h5.card-title 1920 Horrors Of The Heart 
            p.card-text Lorem ipsum dolor sit amet.
        .card
          img.card-img-top(src="https://img10.hotstar.com/image/upload/f_auto/sources/r1/cms/prod/5552/1565552-i-10c07bc1de6b", alt="Card image")
          .card-body
            h5.card-title Annabelle Rathore 
            p.card-text Pellentesque habitant morbi.
        .card
          img.card-img-top(src="https://img10.hotstar.com/image/upload/f_auto/sources/r1/cms/prod/7903/1367903-i-6f3a72550373", alt="Card image")
          .card-body
            h5.card-title Liger Saala cross breed
            p.card-text Vestibulum tortor quam.
        .card
          img.card-img-top(src="https://img10.hotstar.com/image/upload/f_auto/sources/r1/cms/prod/7771/1367771-i-695806f2c8e6", alt="Card image")
          .card-body
            h5.card-title RRR
            p.card-text Lorem ipsum dolor sit amet.
        .card
          img.card-img-top(src="https://img10.hotstar.com/image/upload/f_auto/sources/r1/cms/prod/8819/1418819-i-966770c33cef", alt="Card image")
          .card-body
            h5.card-title Bahubali 2
            p.card-text Pellentesque habitant morbi.
        .card
          img.card-img-top(src="https://img10.hotstar.com/image/upload/f_auto/sources/r1/cms/prod/1088/1541088-i-659d0ea3ed34", alt="Card image")
          .card-body
            h5.card-title Sardar Gabbar Singh
            p.card-text Vestibulum tortor quam.
        .card
          img.card-img-top(src="https://img10.hotstar.com/image/upload/f_auto/sources/r1/cms/prod/1659/1371659-i-c35ea027e8fb", alt="Card image")
          .card-body
            h5.card-title Janatha Garage
            p.card-text Vestibulum tortor quam.

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    h1= title
    h1= responseBody.title
